.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.faq .text {
  margin-top: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
    line-height: 1.8;
}
