footer {
  display: flex;
  justify-content: center;
  background-color: #111827;
  padding-bottom: 40px;
  padding-top: 20px;
  color: white;
  text-decoration: none;
}
footer > .menu {
  color: white;
  align-items: center;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu > ul {
    list-style: none;
}
.menu > ul > li {
    padding: 5px 0;
}
.menu > ul > li >a {
  color:white;

}
.socialLinks {
    height: 32px;
}
.wrapperSocial > a {
    padding: 8px;
    text-decoration-line: underline;
}
@media (max-width: 769px) {
  footer > .menu {
    color: white;
    align-items: center;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
